.hero-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  background: #1d1d1d;
}

.hero-title {
  padding: 40px 20px 20px 20px;
  text-align: left;
  width: 295px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

.logo-accent {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

.hero-text {
  width: 295px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  padding: 0px 20px 40px 20px;
}

.hero-picture {
  display: flex;
  flex-direction: column;
}

.hero-arrow {
  fill: #fff;
}

.hero-img {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.arrow {
  display: flex;
  width: 89px;
  height: 36px;
  align-items: center;
}

.hero-image {
  display: flex;
  padding-bottom: 8px;
  gap: 44px;
}

.happy-studens-container {
  position: relative;
  width: 109px;
  height: 44px;
}

.happy-studens-container picture {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
}

.happy-studens-container picture:nth-child(1) {
  top: 0;
  left: 64px;
}

.happy-studens-container picture:nth-child(2) {
  top: 0;
  left: 32px;
}

.happy-studens-container picture:nth-child(3) {
  top: 0;
  left: 0px;
}

.hero-star-and-text-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.hero-reviews-text {
  margin-bottom: 8px;
  color: var(--color-secondary-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
}

.hero-numbers-text {
  color: var(--color-primary-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: -0.04em;
}

.svg-container {
  padding: 12px;
  background-color: #bea69e;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.hero-star {
  border-radius: 100px;
  background: #bea69e;
  fill: #bea69e;
  stroke: #121212;
  flex-shrink: 0;
}

.hero-subtitle {
  font-size: 14px;

  line-height: 1.28em;
  letter-spacing: -0.56px;
}